.page {
  width: 100%;
  height: 100%;
  position: absolute;
  button {
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: 999;
    width: 3.5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
    cursor: pointer;
    border: none;
    background: transparent;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    opacity: 0;
    display: none;
    span {
      position: absolute;
      width: 100%;
      height: 0.4rem;
      background-color: #ffd700;
      transform-origin: center;
      border-radius: 0.8rem;
      animation-timing-function: linear;
      animation-duration: 0.3s;

      &:nth-of-type(1) {
        transform: translateY(-10px);
      }
      &:nth-of-type(2) {
        transition: 0.2s ease-in 0;
      }
      &:nth-of-type(3) {
        transform: translateY(10px);
      }
    }
  }
}
@keyframes open-Top {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes open-Bot {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes open-Bot {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.container {
  width: 100%;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 5%;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.about-page,
.contact-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    max-height: 90%;
    h1 {
      font-size: 5.3rem;
      font-family: "Roboto", sans-serif;
      color: #ffd700;
      letter-spacing: 0.2rem;
      margin-bottom: 0.5em;
      margin-top: 0;
      position: relative;
    }
    .card {
      font-family: sans-serif;
      font-weight: 500;
      min-width: fit-content;
      animation: pulse 1s;
      h2 {
        margin: 0.5em 0 0.5em;
        color: #ffd700;
        font-weight: 700;
        letter-spacing: 0.2rem;
      }
      p {
        color: #8d8d8d;
        font-size: 1.2rem;
      }
      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }
      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }
      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
    }
  }
  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }
}

@media (max-width: 700px) {
  .page {
    position: relative;
    height: auto;
    overflow-x: hidden;
    width: 100%;

    button {
      top: 1.5em;
      right: 2em;
      display: block;
    }
  }
  .text-zone {
    border: 1px solid wheat;
  }
  .container {
    height: auto;
    width: 100%;
    overflow-x: hidden;
  }
}
