.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 14%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}
.cube-spinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 150px);
  div {
    position: absolute;
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
  }

  .face1 {
    transform: translateZ(135px);
  }
  .face2 {
    transform: rotateY(90deg) translateZ(135px);
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(135px);
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(135px);
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(135px);
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(135px);
  }
}

img {
  width: 100%;
  height: 100%;
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}
.card {
  p {
    letter-spacing: 0.1rem;
  }
}
@media (max-width: 700px) {
  .about-page {
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: 100%;

    .about-text-zone {
      position: static;

      width: 95%;
      transform: translateY(0);

      height: auto;
      p {
        text-align: left;
      }
    }
    .stage-cube-cont {
      margin-top: 3em;
      position: static;
      display: block;
      width: 100%;
      height: 30em;
      padding-top: 17%;
      padding-left: 17%;
    }
  }
}
